<div id="app_container">

    <div class="header-wrapper">

        <div class="interactive-wrapper">

            <div class="video-container">
                <video class="uit-video uit-desktop" playsinline muted loop>
                <source src="https://interactive.guim.co.uk/embed/aus/2020/ocean-pools/videos/intro_960.mp4" type="video/mp4">
                </video>

                <!-- poster="https://interactive.guim.co.uk/uploader/embed/2019/09/amazon_poster_images-zip/giv-3902GnCtyH8vsL3L/desktop.jpg" -->
            </div>

            <div class="header-container">

                <div class="int-tag">
                    Coastal heritage
                </div>
                <div class="headline-wrapper">
                    <h1>A survey of ocean pools along the New South Wales coast</h1>
                </div>
                <p class="standfirst">
                    <span>Sydney based architect Nicole Larkin has travelled up and down the coastline of NSW documenting theocean pools scattered along its varied shoreline. Guardian Australia has mapped all the pools she has recored on her seaboard wanderings.</span>
                </p>

            </div>

            <div class="img-credit-header"></div>

        </div>
    </div>

    <div id="scrolly-1">

        <div class="scroll-wrapper">

            <div class="scroll-inner">
                <div id="map"></div>
            </div>

            <div class="scroll-text">

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="0"></div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="0">
                    <div class="intro-text__div">
                        <div class="intro-showcase">
                            <p><span class="firstcharacter">O</span>ur journey begins in the Clarence Valley on the northern stretch of the New South Wales coast at the town of Yamba. From there we head southward eventually making our way to the Bega Valley Shire some 1000km away. All of the 59 pools that we have presented here are still actively in use today. Many were built as public works projects during the depression. Most were ingeniously constructed by exploiting some natural topographic feature of the local area. All of them have become a focal point within their coastal communities.</p>
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="0">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Yamba ocean pool</p>
                            <img data-lazy="01.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="0">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Angourie blue pool</p>
                            <img data-lazy="02.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="0"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="0">
                    <div class="video-header-wrapper">
                        <video id="video" loop="true" muted>
                            <source src="https://interactive.guim.co.uk/embed/aus/2020/ocean-pools/videos/sawtell.mp4" type="video/mp4">   
                        </video>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="0"></div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="0">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Sawtell Memorial Rock pool in Coffs Harbour</p>
                            <img data-lazy="03.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="0"></div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Black Head Ocean pool</p>
                            <img data-lazy="04.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Forster Ocean pool</p>
                            <img data-lazy="05.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Newcastle Ocean Baths</p>
                            <img data-lazy="06.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bogey Hole</p>
                            <img data-lazy="07.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Merewether Ocean Baths</p>
                            <img data-lazy="08.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>The Entrance Ocean Baths</p>
                            <img data-lazy="09.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Terrigal Rock pool</p>
                            <img data-lazy="10.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Macmasters Beach Rock pool</p>
                            <img data-lazy="11.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="1"></div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="12" data-map="2"></div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Pearl Beach Rock pool</p>
                            <img data-lazy="12.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Palm Beach</p>
                            <img data-lazy="13.jpg">
                        </div>
                    </div>
                </div>

                <!--div class="scroll-text__inner" data-type="reorient" data-zoom="12" data-map="2"></div-->
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Whale Beach Rock pool</p>
                            <img data-lazy="14.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Avalon Rock pool</p>
                            <img data-lazy="15.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bilgola Baths</p>
                            <img data-lazy="16.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Newport Ocean pool</p>
                            <img data-lazy="17.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Mona Vale Rock pool</p>
                            <img data-lazy="18.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>North Narrabeen Baths</p>
                            <img data-lazy="19.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Collaroy Ocean pool</p>
                            <img data-lazy="20.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Dee Why Rock pool</p>
                            <img data-lazy="21.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>North Curl Curl Rock pool</p>
                            <img data-lazy="22.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>South Curl Curl Rock pool</p>
                            <img data-lazy="23.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Freshwater Ocean pool</p>
                            <img data-lazy="24.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Queenscliff Ocean pool</p>
                            <img data-lazy="25.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>North Steyne pool</p>
                            <img data-lazy="26.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Wally Weekes pool</p>
                            <img data-lazy="27.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bondi kids pool</p>
                            <img data-lazy="29.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Icebergs</p>
                            <img data-lazy="29.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bronte Baths</p>
                            <img data-lazy="30.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Giles Baths</p>
                            <img data-lazy="31.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Ross Jones Memorial pool</p>
                            <img data-lazy="32.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>McIvers Baths</p>
                            <img data-lazy="33.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Wylie's Baths</p>
                            <img data-lazy="34.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Ivor Rowe Rockpool</p>
                            <img data-lazy="35.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="2">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Mahon pool</p>
                            <img data-lazy="36.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Malabar Ocean pool</p>
                            <img data-lazy="37.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Cronulla Rock pool One</p>
                            <img data-lazy="38.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Cronulla Rock pool Two</p>
                            <img data-lazy="39.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Shelly Beach pool</p>
                            <img data-lazy="40.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Oak Park pool</p>
                            <img data-lazy="41.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bulgo Beach pool</p>
                            <img data-lazy="42.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Coalcliff Baths</p>
                            <img data-lazy="43.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Wombarra Baths</p>
                            <img data-lazy="44.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Coledale Baths</p>
                            <img data-lazy="45.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Austinmer Baths</p>
                            <img data-lazy="46.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bulli Ocean Bath</p>
                            <img data-lazy="47.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Woonona Baths</p>
                            <img data-lazy="48.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bellambi Baths</p>
                            <img data-lazy="49.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Towradgi Ocean pool</p>
                            <img data-lazy="50.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Nuns pool</p>
                            <img data-lazy="51.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Ladies Baths</p>
                            <img data-lazy="52.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Fishermans Beach Baths (Port Kembla</p>
                            <img data-lazy="53.jpg">
                        </div>
                    </div>
                </div>
                
                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Pheasant Point Baths</p>
                            <img data-lazy="54.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Blowhole Point Baths</p>
                            <img data-lazy="55.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Werri Beach Baths</p>
                            <img data-lazy="56.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Boat Harbour Baths</p>
                            <img data-lazy="57.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="12" data-map="3"></div>

                <div class="scroll-text__inner" data-type="reorient" data-zoom="11" data-map="4">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Bermagui - Blue pool</p>
                            <img data-lazy="58.jpg">
                        </div>
                    </div>
                </div>

                <div class="scroll-text__inner" data-type="explore" data-zoom="11" data-map="4">
                    <div class="scroll-text__div">
                        <div class="editorial-showcase">
                            <p>Eden Rock pool</p>
                            <img data-lazy="59.jpg">
                        </div>
                    </div>
                </div>

            </div>

        </div>

    </div>

</div>

