<div class="scroll-text__inner" data-track="0" data-pool="1" data-type="explore" data-zoom="11" data-map="0">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Yamba ocean pool</p>
            <img data-lazy="01.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="0" data-pool="2" data-type="explore" data-zoom="11" data-map="0">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Angourie blue pool</p>
            <img data-lazy="02.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="1" data-pool="0" data-type="static" data-zoom="11" data-map="0"></div>

<div class="scroll-text__inner" data-track="1" data-pool="0" data-type="scroll" data-zoom="11" data-map="0"></div>

<div class="scroll-text__inner" data-track="1" data-pool="0" data-type="scroll" data-zoom="11" data-map="0">
    <div class="video-header-wrapper">
        <video id="video" loop="true" muted>
            <source src="https://interactive.guim.co.uk/embed/aus/2020/ocean-pools/videos/sawtell.mp4" type="video/mp4">   
        </video>
    </div>
</div>

<div class="scroll-text__inner" data-track="1" data-pool="0" data-type="scroll" data-zoom="11" data-map="0"></div>

<div class="scroll-text__inner" data-track="1" data-pool="3" data-type="scroll" data-zoom="11" data-map="0">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Sawtell Memorial Rock pool in Coffs Harbour</p>
            <img data-lazy="03.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="2" data-pool="0" data-type="scroll" data-zoom="11" data-map="0"></div>

<div class="scroll-text__inner" data-track="2" data-pool="0" data-type="scroll" data-zoom="11" data-map="1"></div>

<div class="scroll-text__inner" data-track="3" data-pool="4" data-type="static" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Black Head Ocean pool</p>
            <img data-lazy="04.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="3" data-pool="5" data-type="static" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Forster Ocean pool</p>
            <img data-lazy="05.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="4" data-pool="0" data-type="scroll" data-zoom="11" data-map="1"></div>

<div class="scroll-text__inner" data-track="4" data-pool="0" data-type="scroll" data-zoom="11" data-map="0">
    <div class="video-header-wrapper">
        <video id="video" loop="true" muted>
            <source src="https://interactive.guim.co.uk/embed/aus/2020/ocean-pools/videos/sawtell.mp4" type="video/mp4">   
        </video>
    </div>
</div>

<div class="scroll-text__inner" data-track="4" data-pool="0" data-type="scroll" data-zoom="11" data-map="1"></div>

<div class="scroll-text__inner" data-track="5" data-pool="6" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Newcastle Ocean Baths</p>
            <img data-lazy="06.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="5" data-pool="7" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bogey Hole</p>
            <img data-lazy="07.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="5" data-pool="8" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Merewether Ocean Baths</p>
            <img data-lazy="08.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="5" data-pool="0" data-type="scroll" data-zoom="11" data-map="1"></div>

<div class="scroll-text__inner" data-track="5" data-pool="9" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>The Entrance Ocean Baths</p>
            <img data-lazy="09.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="5" data-pool="10" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Terrigal Rock pool</p>
            <img data-lazy="10.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="5" data-pool="11" data-type="scroll" data-zoom="11" data-map="1">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Macmasters Beach Rock pool</p>
            <img data-lazy="11.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="6" data-pool="0" data-type="scroll" data-zoom="11" data-map="1"></div>

<div class="scroll-text__inner" data-track="6" data-pool="0" data-type="scroll" data-zoom="12" data-map="2"></div>

<div class="scroll-text__inner" data-track="7" data-pool="12" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Pearl Beach Rock pool</p>
            <img data-lazy="12.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="13" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Palm Beach</p>
            <img data-lazy="13.jpg">
        </div>
    </div>
</div>

<!--div class="scroll-text__inner" data-track="0" data-pool="0" data-type="static" data-zoom="12" data-map="2"></div-->

<div class="scroll-text__inner" data-track="7" data-pool="14" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Whale Beach Rock pool</p>
            <img data-lazy="14.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="15" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Avalon Rock pool</p>
            <img data-lazy="15.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="16" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bilgola Baths</p>
            <img data-lazy="16.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="17" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Newport Ocean pool</p>
            <img data-lazy="17.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="18" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Mona Vale Rock pool</p>
            <img data-lazy="18.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="19" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>North Narrabeen Baths</p>
            <img data-lazy="19.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="20" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Collaroy Ocean pool</p>
            <img data-lazy="20.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="21" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Dee Why Rock pool</p>
            <img data-lazy="21.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="22" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>North Curl Curl Rock pool</p>
            <img data-lazy="22.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="23" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>South Curl Curl Rock pool</p>
            <img data-lazy="23.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="24" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Freshwater Ocean pool</p>
            <img data-lazy="24.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="25" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Queenscliff Ocean pool</p>
            <img data-lazy="25.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="26" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Manly Fairy Bower Pool</p>
            <img data-lazy="26.jpg">
        </div>
    </div>
</div>


<div class="scroll-text__inner" data-track="7" data-pool="27" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>North Steyne pool</p>
            <img data-lazy="27.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="28" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Wally Weekes pool</p>
            <img data-lazy="28.jpg">
        </div>
    </div>
</div>

<!--div class="scroll-text__inner" data-track="7" data-pool="29" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bondi kids pool</p>
            <img data-lazy="29.jpg">
        </div>
    </div>
</div-->

<div class="scroll-text__inner" data-track="7" data-pool="29" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Icebergs</p>
            <img data-lazy="29.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="30" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bronte Baths</p>
            <img data-lazy="30.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="31" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Giles Baths</p>
            <img data-lazy="31.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="32" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Ross Jones Memorial pool</p>
            <img data-lazy="32.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="33" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>McIvers Baths</p>
            <img data-lazy="33.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="34" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Wylie's Baths</p>
            <img data-lazy="34.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="35" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Ivor Rowe Rockpool</p>
            <img data-lazy="35.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="7" data-pool="36" data-type="scroll" data-zoom="12" data-map="2">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Mahon pool</p>
            <img data-lazy="36.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="8" data-pool="37" data-type="scroll" data-zoom="12" data-map="3"></div>

<div class="scroll-text__inner" data-track="8" data-pool="37" data-type="scroll" data-zoom="12" data-map="3"></div>

<div class="scroll-text__inner" data-track="9" data-pool="37" data-type="static" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Malabar Ocean pool</p>
            <img data-lazy="37.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="38" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Cronulla Rock pool One</p>
            <img data-lazy="38.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="39" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Cronulla Rock pool Two</p>
            <img data-lazy="39.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="40" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Shelly Beach pool</p>
            <img data-lazy="40.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="41" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Oak Park pool</p>
            <img data-lazy="41.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="0" data-type="scroll" data-zoom="11" data-map="0">
    <div class="video-header-wrapper">
        <video id="video" loop="true" muted>
            <source src="https://interactive.guim.co.uk/embed/aus/2020/ocean-pools/videos/sawtell.mp4" type="video/mp4">   
        </video>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="42" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bulgo Beach pool</p>
            <img data-lazy="42.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="43" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Coalcliff Baths</p>
            <img data-lazy="43.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="44" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Wombarra Baths</p>
            <img data-lazy="44.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="45" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Coledale Baths</p>
            <img data-lazy="45.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="46" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Austinmer Baths</p>
            <img data-lazy="46.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="47" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bulli Ocean Bath</p>
            <img data-lazy="47.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="48" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Woonona Baths</p>
            <img data-lazy="48.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="49" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bellambi Baths</p>
            <img data-lazy="49.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="50" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Towradgi Ocean pool</p>
            <img data-lazy="50.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="51" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Nuns pool</p>
            <img data-lazy="51.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="52" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Ladies Baths</p>
            <img data-lazy="52.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="53" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Fishermans Beach Baths (Port Kembla</p>
            <img data-lazy="53.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="54" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Pheasant Point Baths</p>
            <img data-lazy="54.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="55" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Blowhole Point Baths</p>
            <img data-lazy="55.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="56" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Werri Beach Baths</p>
            <img data-lazy="56.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="9" data-pool="57" data-type="scroll" data-zoom="12" data-map="3">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Boat Harbour Baths</p>
            <img data-lazy="57.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="10" data-pool="0" data-type="scroll" data-zoom="12" data-map="3"></div>

 <div class="scroll-text__inner" data-track="10" data-pool="0" data-type="scroll" data-zoom="12" data-map="3"></div>

<div class="scroll-text__inner" data-track="11" data-pool="58" data-type="scroll" data-zoom="11" data-map="4">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Bermagui - Blue pool</p>
            <img data-lazy="58.jpg">
        </div>
    </div>
</div>

<div class="scroll-text__inner" data-track="11" data-pool="59" data-type="scroll" data-zoom="11" data-map="4">
    <div class="scroll-text__div">
        <div class="editorial-showcase">
            <p>Eden Rock pool</p>
            <img data-lazy="59.jpg">
        </div>
    </div>
</div>