@import "mq";

#app_container {
	width: 100%;
}

.header-wrapper {
	height: 100vh;
	margin: 0px;
	position: relative;
	width: 100%;
	font-size: 24px;
	line-height: 28px;
	font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
	font-weight: 900;

	h1 {
		color: #fff;
		display: inline;
		padding-bottom: .1em;
		background: linear-gradient(#121212, #121212) no-repeat;
		box-shadow: 6px 0 0 #121212, -12px 0 0 #121212;
		line-height: 1.34;

		@include mq($until: tablet) {
			font-size: 38px;
		}

		@include mq($from: tablet) {
			font-size: 48px;
		}

	}

	.header-container {

		width: 90%;
		max-width: 700px;
		position: relative;
		z-index: 2;

		@include mq($from: desktop) {
			margin-left: 240px;
		}

		.int-tag {
			font-size: 18px;
			line-height: 24px;
			font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
			font-weight: 900;
			color: #fff;
			background-color: #c70000;
			display: inline-block;
			padding: 2px 5px 5px;
			transform: translateY(2px);
			margin-left: -2px;
		}

		.headline-wrapper {
			font-size: 24px;
			line-height: 28px;
			font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
			font-weight: 900;
			padding-left: 10px;
			margin-top: 2px;
			margin-bottom: 4px;
		}

		.headline-wrapper h1 {
			color: #fff;
			display: inline;
			background: linear-gradient(#121212, #121212) no-repeat;
			box-shadow: 6px 0 0 #121212, -12px 0 0 #121212;

			@include mq($until: tablet) {
				font-size: 38px;
				line-height: 46px;
			}

			@include mq($from: tablet) {
				font-size: 48px;
				line-height: 60px;
			}

		}

		.standfirst {
			font-size: 1px;
			line-height: 20px;
			font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
			font-weight: normal;
			font-size: 20px;
			line-height: 28px;
			display: block;
			margin-top: 4px;
			color: #000;
			font-weight: 300;
			font-style: italic;
			width: 90%;
			max-width: 480px!important;
			margin-left: 9px;
		}

		.standfirst span {
			display: inline;
			display: inline;
			padding-bottom: .1em;
			background: white;
			box-shadow: 5px 0 0 white, -10px 0 0 white;
		}

		.int-byline {
			padding-left: 10px;
			padding-right: 10px;
			max-width: 620px;
			font-size: 16px;
			line-height: 20px;
			font-family: "Guardian Headline", "Guardian Egyptian Web", "Guardian Headline Full", Georgia, serif;
			font-weight: 900;
			color: #767676;
			display: block;
			font-weight: 400;
			font-style: italic;
			min-height: 48px;
			margin-bottom: 6px;
			background-repeat: repeat-x;
			background-position: top;
			background-size: 6px 10px;
			padding-top: 6px!important;
			margin-top:30px;

			a {
				font-weight: 700;
				color: white;
				font-style: normal;
			}

		}

	}

	.interactive-wrapper {

		@include mq($until: tablet) {
			padding-top: 10vh;
		}

		@include mq($from: tablet) {
			padding-top: 30vh;
		}
		
	}

}