
@media screen and (max-width: 420px) {
    .uit-mobile {
        display: block;
    }

    .uit-desktop {
        display: none;
    }
}

.uit-mobile {
    display: none;
}

.uit-desktop {
    display: block;
}

.video-container {
    left: 0;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
}

.uit-video {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.header-container {
    position: relative;
    z-index: 2;
}

.video-header-wrapper {
    width: 100%;
}

.video-header-wrapper video {
    width: 100%;
}